@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@font-face {
  font-family: "Alegreya Sans SC", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
}
@font-face {
  font-family: "Pacifico", cursive;;
  src: url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
}
[data-font="alegreya"] {
  font-family: "Alegreya Sans SC", sans-serif;
}
[data-font="arial"] {
  font-family: Arial, Helvetica, sans-serif;
}
[data-font="comic-sans"] {
  font-family: "Comic Sans MS", sans-serif;
  /*
    Trying out comic sans WITHOUT "cursive"
    original code `font-family: "Comic Sans MS", cursive, sans-serif;`
  */
}
[data-font="consolas"] {
  font-family: Consolas, monospace;
}
[data-font="georgia"] {
  font-family: Georgia, "Times New Roman", Times, serif;
}
[data-font="pacifico"] {
  font-family: "Pacifico", cursive;
}
[data-font="roboto"] {
  font-family: "Roboto", sans-serif;
}
[data-font="times-roman"] {
  font-family: "Times New Roman", Times, serif;
}
[data-font="trebuchet"] {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}