nav {
	margin: auto;
	ul.nav-list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		li.nav-item {
			float: left;
			padding: 5px;
			a.nav-link {
				text-align: center;
				text-decoration: none;
				&:hover {
					filter: brightness(150%);
				}
			}
		}
		li.profile {
			float: right;
			padding: 5px;
		}
		img.nav-icon {
			height: 40px;
			width: 40px;
		}
	}
}