@import "fonts";
@import "headers";
@import "modal";
@import "tooltip";
@import "navbar";
@import "alignment";
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	&:hover,
	&:focus {
		color: black; // Figure out how to have that work in javascript
	  	text-decoration: none;
	  	cursor: pointer;
	}
	&::before {
		content:"\00d7";
	}
}
.place-hrz {
	display: inline;
}
a::after {
	content: "link";
}